body{margin:0;padding:0}
/*
     FILE ARCHIVED ON 05:32:24 May 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:15:12 May 07, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 139.713
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.105
  cdx.remote: 0.075
  esindex: 0.011
  LoadShardBlock: 108.054 (3)
  PetaboxLoader3.datanode: 78.449 (4)
  CDXLines.iter: 16.13 (3)
  load_resource: 60.76
  PetaboxLoader3.resolve: 35.328
*/